<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h6><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h6>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
    <%= form.label 'Pregunta' , class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_area :question_text, required: true, class: "form-control", rows: 3 %>
    </div>
  </div>
  <br>

  <div class="row mb-3">
      <%= form.label 'Categoría' , class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.collection_select :category_id, @categories, :id, :name, { prompt: "Selecciona una categoría" }, { class: "form-select mb-3", required: true} %>
      </div>
  </div>

  <div class="row mb-3">
    <%= form.label 'Niveles' , class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.collection_select :level_id, @levels, :id, :name, { prompt: "Selecciona un nivel" }, { class: "form-select mb-3", required: true} %>
    </div>
  </div>

  <%if is_admin? %>
    <div class="row mb-3">
      <%= form.label 'Aprobado' , class: "col-sm-2 col-form-label" %>
      <div class="col-sm-1">
        <%= form.check_box :approved, class: "form-check-input" %>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :author_id %>
    <%= form.text_field :author_id %>
  </div>

  <div class="field">
    <%= form.label :revisor_id %>
    <%= form.text_field :revisor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
