<div class="container mt-4">
  <h1 class="mb-4 text-center">
    Gestión de Preguntas
    <%= link_to 'Nueva Pregunta <i class="fas fa-circle-plus"></i>'.html_safe, new_question_path, class: "btn btn-success" %>
    <% if current_user.superuser? %>
      <%= link_to 'Cargar Preguntas <i class="fas fa-cloud-arrow-up"></i>'.html_safe, admin_index_path, data: {turbolinks: false }, class: "btn btn-primary" %>
    <% end %>
  </h1>

  <ul class="nav nav-tabs" id="questionsTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="created-questions-tab" data-bs-toggle="tab" data-bs-target="#created-questions" type="button" role="tab" aria-controls="created-questions" aria-selected="true">
        Mis Preguntas
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pending-review-questions-tab" data-bs-toggle="tab" data-bs-target="#pending-review-questions" type="button" role="tab" aria-controls="pending-review-questions" aria-selected="false">
        Preguntas pendientes de revisar
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="reviewed-questions-tab" data-bs-toggle="tab" data-bs-target="#reviewed-questions" type="button" role="tab" aria-controls="reviewed-questions" aria-selected="false">
        Preguntas Revisadas
      </button>
    </li>
    <% if current_user.role.name == 'teacher' %>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="course-questions-tab" data-bs-toggle="tab" data-bs-target="#course-questions" type="button" role="tab" aria-controls="course-questions" aria-selected="true">
          Preguntas del Curso de <%= current_user.course.course_display_name  unless current_user.course.blank? %>
        </button>
      </li>
    <% elsif current_user.role.name == 'admin' %>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="all-questions-tab" data-bs-toggle="tab" data-bs-target="#all-questions" type="button" role="tab" aria-controls="all-questions" aria-selected="true">
          Todas las Preguntas
        </button>
      </li>
    <% end %>
  </ul>

  <div class="tab-content mt-3" id="questionsTabContent">
      <div class="tab-pane fade show active" id="created-questions" role="tabpanel" aria-labelledby="created-questions-tab">
        <%= render 'questions_table', questions: @questions_created %>
      </div>
      <div class="tab-pane fade" id="pending-review-questions" role="tabpanel" aria-labelledby="pending-review-questions-tab">
        <%= render 'questions_table', questions: @questions_pending_review %>
      </div>
      <div class="tab-pane fade" id="reviewed-questions" role="tabpanel" aria-labelledby="reviewed-questions-tab">
        <%= render 'questions_table', questions: @questions_reviewed %>
      </div>
    <% if current_user.role.name == 'teacher' %>
      <div class="tab-pane fade" id="course-questions" role="tabpanel" aria-labelledby="course-questions-tab">
        <%= render 'questions_table', questions: @questions_for_course %>
      </div>
    <% elsif current_user.role.name == 'admin' %>
      <div class="tab-pane fade" id="all-questions" role="tabpanel" aria-labelledby="all-questions-tab">
        <%= render 'questions_table', questions: @all_questions %>
      </div>
    <% end %>
  </div>
</div>
