<div class="container">
  <h1>Preguntas <%= link_to 'Nueva Pregunta <i class="fas fa-circle-plus"></i>'.html_safe, new_question_path, class: "btn btn-success" %></h1>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Pregunta</th>
        <th>Categoría</th>
        <th>Nivel</th>
        <th>Estado</th>
        <th>Autor</th>
        <th>Revisor</th>
        <th colspan="3">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.question_text %></td>
          <td><%= question.category.name %></td>
          <td><%= question.level.name %></td>
          <td>
            <%= question_status_icon(question) %>
          </td>
          <td><%= question.author.username %></td>
          <td><%= question.revisor.username unless question.revisor.nil?  %></td>
          <td>
            <%= link_to 'Ver <i class="fas fa-magnifying-glass"></i>'.html_safe , question, class: 'btn btn-primary btn-sm'%>
            <%= link_to 'Editar <i class="far fa-pen-to-square"></i>'.html_safe, edit_question_path(question), class: 'btn btn-warning btn-sm'%>
            <%= link_to 'Eliminar <i class="far fa-trash-can"></i>'.html_safe, question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  </div>
