<style>
  .btn-success {
    background-color: #28a745 !important;
    color: white !important;
  }

  .btn-danger {
    background-color: #dc3545 !important;
    color: white !important;
  }

  .answer-button, .answer-button-host {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
  }

  .answer-button:hover, .answer-button-host:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .fade-alert {
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .fade-alert.show {
    opacity: 1;
  }
</style>

  <% 
    index_question = @kahoot_game.current_question_index
    question = @kahoot_game.current_question.question
    number_of_questions = @kahoot_game.kahoot_questions.count
  %>
  <body data-kahoot-game-id="<%= @kahoot_game.id %>">
    <div class="container py-5 text-center">
      <% if @kahoot_game.host == current_user && @kahoot_game.in_progress? %>
        <span id="alert_player_left" class="my-2 fs-6 badge rounded-pill bg-warning text-dark fade-alert">Un participante ha abandonado la partida</span>
      <% end %>
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="fw-bold">
          <span class="badge rounded-pill bg-primary">
            Pregunta <span id="index_question_container"><%= index_question + 1 %></span> de <%= number_of_questions %>
          </span>
        </h4>
        
        <% if @kahoot_game.host == current_user && @kahoot_game.in_progress? %>
          <h4>
            <button id="next_question_button" class="btn btn-outline-primary flex-shrink-0 rounded-pill">
              Siguiente Pregunta
            </button>
           </h4>
        <% end %>
        <% if @kahoot_game.host == current_user %>
          <h4 class="fw-bold">
            <span class="badge rounded-pill bg-secondary">
              Respuestas <span id="counter_participants_container">0</span>/<%= @kahoot_game.kahoot_participants.count %>
            </span>
          </h4>
        <% end %>

        <% unless @kahoot_game.host == current_user %>
          <h4 class="fw-bold">
            <span class="badge rounded-pill bg-success">
              Puntuación: <span id="score_participant_container"><%= get_kahoot_participant(current_user, @kahoot_game).score %></span>
            </span>
          </h4>
        <% end %>
      </div>

      <div class="text-center mb-5">
        <h5 class="text-muted" title="Categoría"><%= @kahoot_game.category.name %> <span title="Nivel" class="badge rounded-pill bg-<%= @kahoot_game.level.get_color %>"><%= @kahoot_game.level.name %></span></h5>
        <h3 id="question_container" class="fw-bold text-dark" title="Pregunta"><%= question.question_text %> </h3>
      </div>

      <div id="answers_container" class="row row-cols-1 row-cols-md-2 g-4">
        <% get_answers(question).each do |answer| %>
          <div class="col">
            <% if @kahoot_game.host == current_user or check_duplicate_answers(current_user, @kahoot_game.current_question) %>
              <button type="button" class="answer-button-host btn btn-outline-primary btn-lg w-100 py-3 shadow-sm" disabled>
                <%= answer.answer_text %>
              </button>
            <% else %>
              <button type="button" class="answer-button btn btn-outline-primary btn-lg w-100 py-3 shadow-sm" data-answer-id="<%= answer.id %>" data-answer-correct="<%= answer.correct %>">
                <%= answer.answer_text %>
              </button>
            <% end %>
          </div>
        <% end %>
      </div>
      <div id="send_answer_container" class="text-center mt-5">
        <button id="submit_answer_button" type="button" class="btn btn-primary btn-lg" disabled>Enviar</button>
        
        <% if check_duplicate_answers(current_user, @kahoot_game.current_question) %>
          <div id="alert_duplicate_answer_container">
           <span class="badge rounded-pill bg-warning text-dark">Ya has respondido a esta pregunta.</span>
          </div>
        <% end %>
      </div>
    </div>
  </body>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const submitButton = document.getElementById("submit_answer_button");
      const nextQuestionButton = document.getElementById("next_question_button");
      let selectedAnswerId = localStorage.getItem("selectedAnswer");
      localStorage.removeItem("selectedAnswer");

      function selectAnswer(button) {
        document.querySelectorAll(".answer-button").forEach(btn => {
          btn.classList.remove("btn-primary");
          btn.classList.add("btn-outline-primary");
        });

        button.classList.remove("btn-outline-primary");
        button.classList.add("btn-primary");

        selectedAnswerId = button.dataset.answerId;
        localStorage.setItem("selectedAnswer", selectedAnswerId);

        submitButton.disabled = false;
      }

      document.querySelectorAll(".answer-button").forEach(button => {
        button.addEventListener("click", function () {
          selectAnswer(button);
        });

        //Volver a marcar el btn seleccionado si el usuario recarga la página
        if (selectedAnswerId && selectedAnswerId === button.dataset.answerId) {
          selectAnswer(button);
        }
      });

      if (submitButton) {
        submitButton.addEventListener("click", function () {
          if (selectedAnswerId) {
            console.log("Respuesta enviada:", selectedAnswerId);
            const kahootGameId = document.body.dataset.kahootGameId;

            fetch(`/kahoot_games/${kahootGameId}/submit_answer`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                "X-CSRF-Token": document.querySelector("meta[name='csrf-token']").content,
              },
              body: JSON.stringify({ answer_id: selectedAnswerId }),
            })
            .then(response => {
              if (response.ok) {
                console.log("Respuesta procesada correctamente");
                submitButton.disabled = true;
              } else {
                console.error("Error en la respuesta:", response.status);
              }
            })
            .catch(error => console.error("Error enviando respuesta:", error));
          }
        });
      }

      if (nextQuestionButton) {
        nextQuestionButton.addEventListener("click", function () {
          const kahootGameId = document.body.dataset.kahootGameId;

          fetch(`/kahoot_games/${kahootGameId}/next_question`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRF-Token": document.querySelector("meta[name='csrf-token']").content,
            }
          })
          .then(response => {
            if (response.ok) {
              console.log("Siguiente pregunta enviada");
            } else {
              console.error("Error enviando siguiente pregunta");
            }
          })
          .catch(error => console.error("Error en la solicitud:", error));
        });
      }
    });
  </script>


