<div id="overlay" class="d-none position-fixed top-0 left-0 w-100 h-100 d-flex flex-column align-items-center justify-content-center" 
    style="z-index: 9999; background-color: rgba(0, 0, 0, 0.5);">
  <div class="p-5 bg-light rounded shadow-lg text-center">
    <div id="feedback_icon" class="fs-1"></div>
    <p id="feedback_message" class="mt-2 fs-4 fw-bold"></p>
  </div>
</div>


<div id="kahoot_channel_alert" class="alert alert-success alert-dismissible fade" role="alert">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div id="waiting_container" <%= "style=display:none;" unless @kahoot_game.waiting? %>>
  <%= render 'waiting' %>
</div>

<div id="in_progress_container" <%= "style=display:none;" unless @kahoot_game.in_progress? %>>
  <%= render 'in_progress' %>
</div>

<div id="finished_container" <%= "style='display:none;'" unless @kahoot_game.finished? %>>
  <%= render 'finished' if @kahoot_game.finished? %>
</div>

<div id="canceled_container" <%= "style='display:none;'" unless @kahoot_game.canceled? %>>
  <%= render 'canceled' if @kahoot_game.canceled? %>
</div>

<script type="module">
  document.addEventListener("DOMContentLoaded", function() {
    initKahootGameChannel(<%= @kahoot_game.id %>);
  });
</script>