<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-header bg-secondary text-white text-center">
          <h1 class="display-6"><%= @user.username %></h1>
          <h6 class="fs-4">Editar Contraseña</h6>
        </div>
        <div class="card-body">
          <%= form_with model: @user, url: update_password_user_path(@user), method: :patch, local: true do |form| %>
            <h3 class="h5 text-muted mb-3 text-center">Seguridad y Contraseña</h3>

            <% if current_user == @user %>
              <div class="mb-3">
                <%= form.label :current_password, "Contraseña Actual", class: "form-label" %>
                <%= form.password_field :current_password, class: "form-control", placeholder: "Ingresa tu contraseña actual", required: true %>
              </div>
            <% end %>

            <div class="mb-3">
              <%= form.label :password, "Nueva Contraseña", class: "form-label" %>
              <%= form.password_field :password, class: "form-control", placeholder: "Ingresa tu nueva contraseña", required: true %>
            </div>

            <div class="mb-3">
              <%= form.label :password_confirmation, "Confirmar Contraseña", class: "form-label" %>
              <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirma tu nueva contraseña", required: true %>
            </div>

            <div class="d-flex justify-content-between mt-4">
              <%= form.submit "Actualizar", class: "btn btn-warning w-50" %>
              <%= link_to "Cancelar", current_user.admin? ? users_path : game_sessions_path, class: "btn btn-secondary w-50 ms-2" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
