<style>
  .btn-success {
    background-color: #28a745 !important;
    color: white !important;
  }

  .btn-danger {
    background-color: #dc3545 !important;
    color: white !important;
  }

  .answer-button {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
  }

  .answer-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

</style>

<%= render 'partials/overlay' %>

<div class="container py-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="text-primary fw-bold">Pregunta <%= session[:current_question_index] + 1 %> de <%= session[:question_ids].size %></h4>
    <h4 class="text-success fw-bold">Puntuación: <%= @game_session.score %></h4>
  </div>

  <div class="text-center mb-5">
    <h5 class="text-muted" title="Categoría"><%= @category_name %> <span title="Nivel" class="badge rounded-pill bg-<%= @level.get_color %>"><%= @level.name %></span></h5>
    <h3 class="fw-bold text-dark" title="Pregunta"><%= @question.question_text %></h3>
  </div>

  <%= form_with url: answer_game_session_path(@game_session), method: :post do |form| %>
    <%= form.hidden_field :question_id, value: @question.id %>
    <%= form.hidden_field :answer_id, id: "selected_answer_id" %>

    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% @question.answers.shuffle.each do |answer| %>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg w-100 py-3 answer-button shadow-sm" data-answer-id="<%= answer.id %>">
            <%= answer.answer_text %>
          </button>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<% if current_user == @game_session.user %>
  <div class="d-flex justify-content-start mt-4">
    <button type="button" title="Cancelar Partida" class="btn btn-danger text-white" data-bs-toggle="modal" data-bs-target="#cancelGameModal">
      <i class="fas fa-times me-2 text-white"></i>Cancelar Partida
    </button>
  </div>
<% end %>

<div class="modal fade" id="cancelGameModal" tabindex="-1" aria-labelledby="cancelGameModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="cancelGameModalLabel">Confirmar Cancelación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas cancelar la partida? Se perderán todos los datos y no podrás recuperarlos.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <%= link_to "Sí, cancelar", game_session_path(@game_session), method: :delete, class: "btn btn-danger text-white" %>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const answerButtons = document.querySelectorAll(".answer-button");
    const answerInput = document.getElementById("selected_answer_id");
    const answerForm = document.querySelector("form");
    const overlay = document.getElementById("overlay");

    answerButtons.forEach(button => {
      button.addEventListener("click", () => {
        const answerId = button.getAttribute("data-answer-id");
        answerInput.value = answerId;
        
        //Poner aqui un overlay transparente para que no se pueda presionar ningun btn de nuevo
        overlay.classList.remove("d-none");

        fetch(answerForm.action, {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            "X-CSRF-Token": document.querySelector('meta[name="csrf-token"]').content
          },
          body: new URLSearchParams(new FormData(answerForm))
        })
          .then(response => response.json())
          .then(data => {
            if (data.correct) {
              button.classList.add("btn-success");
            } else {
              button.classList.add("btn-danger");
            }

            setTimeout(() => {
              overlay.classList.add("d-none");

              if (data.next_question_index) {
                window.location.href = data.question_path;
              } else {
                window.location.href = data.result_path;
              }
            }, 2000);
          })
          .catch(error => console.error("Error:", error));
      });
    });
  });
</script>