<p id="notice"><%= notice %></p>

<h1>Categories Courses</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories_courses.each do |categories_course| %>
      <tr>
        <td><%= categories_course.category_id %></td>
        <td><%= categories_course.course_id %></td>
        <td><%= link_to 'Show', categories_course %></td>
        <td><%= link_to 'Edit', edit_categories_course_path(categories_course) %></td>
        <td><%= link_to 'Destroy', categories_course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categories Course', new_categories_course_path %>
