<%= form_with(model: level) do |form| %>
  <% if level.errors.any? %>
    <div id="error_explanation">
      <h6><%= pluralize(level.errors.count, "error") %> prohibited this level from being saved:</h6>

      <ul>
        <% level.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
    <%= form.label 'Nombre' , class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :name, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit(@level.persisted? ? "Actualizar Nivel" : "Crear Nivel", class: "btn btn-primary") %>
    
    <div>
      <% if @level.persisted? %>
        <%= link_to '<i class="fas fa-magnifying-glass"></i> Ver'.html_safe, @level, class: "btn btn-secondary"%>
      <% end %>
      <%= link_to '<i class="fas fa-backward"></i> Volver'.html_safe, levels_path, class: "btn btn-dark"%>
    </div>
  </div>
<% end %>
