<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h6><%= pluralize(course.errors.count, "error") %>. No se puede guardar este curso:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
    <%= form.label 'Nombre' , class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :name, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label 'Año' , class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.select :year, [1,2], {} , {class: "form-select mb-3", required: true}  %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit(@course.persisted? ? "Actualizar Curso" : "Crear Curso", class: "btn btn-primary") %>
    
    <div>
      <% if @course.persisted? %>
        <%= link_to '<i class="fas fa-magnifying-glass"></i> Ver'.html_safe, @course, class: "btn btn-secondary"%>
      <% end %>
      <%= link_to '<i class="fas fa-backward"></i> Volver'.html_safe, courses_path, class: "btn btn-dark"%>
    </div>
  </div>

<% end %>
