<nav class="navbar">
  <div class="navbar-logo">
    <div class="container">
      <%= link_to game_sessions_path, title: "Jugar" , class: "d-block" do %>
        <%= image_tag "favicon.jpg", alt: "Logo", class: "navbar-logo-image rounded-circle" %>
      <% end %>
    </div>
  </div>

  <% if user_signed_in?%>
    <div class="navbar-menu">
      <%= link_to "Categorías", categories_path %>
      <%= link_to "Cursos", courses_path %>
      <%= link_to "Roles", roles_path %>
      <%= link_to "Niveles", levels_path %>
      <%= link_to "Cursos Categorias", categories_courses_path %>
      <%= link_to "Preguntas", questions_path %>
      <%= link_to "Jugar", game_sessions_path %>
      <%= link_to "Kahoot", 'kahoot' %>
    </div>
  <% end %>
  
  <div class="navbar-profile">
    <div class="container">
      <%= link_to "Perfil", 'dropdowns' %>
      <% if user_signed_in? %>
        <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
  </div>
</nav>
