<nav class="navbar">
  <!-- Logo -->
  <div class="navbar-logo">
    <div class="container">
      <%= link_to "Logo", '' %>
    </div>
  </div>
  
  <!-- Opciones de navegación -->
  <div class="navbar-menu">
    <%= link_to "Categorías", categories_path %>
    <%= link_to "Cursos", courses_path %>
    <%= link_to "Roles", roles_path %>
    <%= link_to "Niveles", levels_path %>
    <%= link_to "Cursos Categorias", categories_courses_path %>
    <%= link_to "Preguntas", questions_path %>
    <%= link_to "Kahoot", 'kahoot' %>
  </div>
  
  <!-- Perfil (a la derecha) -->
  <div class="navbar-profile">
    <div class="container">
      <%= link_to "Perfil", 'dropdowns' %>
      <% if user_signed_in? %>
        <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
  </div>
</nav>
