<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to game_sessions_path, title: "Jugar", class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "favicon.jpg", alt: "Logo", class: "navbar-logo-image rounded-circle me-2" %>
      <span class="fw-bold">CodeQuiz</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <% if user_signed_in? %>
        <ul class="navbar-nav me-auto">
          <% if current_user.superuser? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownEntidades" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-database me-1"></i>Entidades
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownEntidades">
                <li class="nav-item"><%= link_to "Categorías", categories_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Cursos", courses_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Roles", roles_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Niveles", levels_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Cursos Categorias", categories_courses_path, class: "nav-link" %></li>
              </ul>
            </li>
          <% end %>
            <li class="nav-item"><%= link_to '<i class="fa fa-circle-question"></i> Preguntas'.html_safe, questions_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to '<i class="fa fa-gamepad me-1"></i>Jugar'.html_safe, game_sessions_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to '<i class="fa fa-scroll me-1"></i>Historial Partidas'.html_safe, history_game_sessions_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to '<i class="fa fa-right-to-bracket me-1"></i>Unirse a partida'.html_safe, new_kahoot_participant_path, class: "nav-link" %></li>
            <% if current_user.superuser? %>
              <li class="nav-item"><%= link_to '<i class="fa fa-shapes me-1"></i>Crear Kahoot'.html_safe, new_kahoot_game_path, class: "nav-link" %></li>
            <% end %>
            <li class="nav-item"><%= link_to '<i class="fa fa-scroll me-1"></i>Historial Kahoot'.html_safe, history_kahoot_games_path, class: "nav-link" %></li>
        </ul>

        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user-circle fa-lg me-2"></i>
              <%= current_user.username %>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li><%= link_to "Perfil", edit_user_path(current_user), class: "dropdown-item" %></li>
              <% if current_user.admin? %>
                <li><%= link_to "Administrar usuarios", users_path, class: "dropdown-item" %></li>
              <% end %>
              <li><%= link_to 'Cambiar contraseña', edit_password_user_path(current_user), class: "dropdown-item" %>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "dropdown-item text-danger" %></li>
            </ul>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to "Iniciar Sesión", new_user_session_path, class: "btn btn-outline-primary me-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "Registrarse", new_user_registration_path, class: "btn btn-primary" %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
